  <div class="row">
  <div class="col-md-12 center jumbotron business-page link-page-title">
      <h3>事業案内</h3>
    </div>
  </div>

  <div class="container link-page-item">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>セールス支援</h2>
        <p>エンドユーザーへの、アプローチ、ヒアリング、提案、クロージングまでを、弊社の高い販売スキルを持ったメンバーで、販売や契約業務の手助けをいたします。顧客との様々なコミュニケーションをとり、クライアント様が満足いく結果に結び付けていきます。</p>
      </div>
      <div class="col-md-4">
        <h2>イベント運営</h2>
        <p>販売促進におけるイベントや、プロモーション活動を目的としたイベント開催の支援をいたします。開催場所の確保や設営、プロモーション、運営やスタッフの配置まで、お客様と密にコミュニケーションを測る事で、イベントの効果を最大化いたします。</p>
      </div>
      <div class="col-md-4">
        <h2>WEB事業</h2>
        <p>クライアント様が日々抱えている業務の効率化、効果の最大化を図る為のITツールの作成や、起業する方へのホームページ作成のご相談を承ります。</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
