  <div class="row">
  <div class="col-md-12 center jumbotron company-page link-page-title">
      <h3>会社情報</h3>
    </div>
  </div>

  <div class="container link-page-item">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>おかむーパート</h2>

    </div>

    <hr>

  </div> <!-- /container -->
