  <div class="row">
  <div class="col-md-12 center jumbotron company-page link-page-title">
      <h3>会社情報</h3>
    </div>
  </div>

  <div class="container link-page-item">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>会社概要</h2>
      <table class="  table table-bordered table-dark table-style">
        <thead>
          <tr>
            <th scope="row" style="width:25%">社名</th>
            <td  style="width:75%">株式会社RUSSEL</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">代表取締役</th>
            <td>内田　啓文</td>
          </tr>
          <tr>
            <th scope="row">本所在地</th>
            <td>〒252-0203<br>神奈川県相模原市中央区東淵野辺三丁目１１番５号ヴェルドミール３０７</td>
          </tr>
          <tr>
            <th scope="row">資本金</th>
            <td>１０万円</td>
          </tr>
          <tr>
            <th scope="row">設立</th>
            <td>令和２年２月２７日</td>
          </tr>
          <tr>
            <th scope="row">役員</th>
            <td>内田　啓文</td>
          </tr>
          <tr>
            <th scope="row">主要取引先<br>(敬称略)</th>
            <td>
              株式会社OFA<br>
              株式会社HighLife
            </td>
          </tr>
          <tr>
            <th scope="row">取引銀行</th>
            <td>
              みずほ銀行<br>
              ゆうちょ銀行
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>

  </div> <!-- /container -->
