<div class="row">
  <div class="col-md-12 center jumbotron jumbotron-css" id="top-image">
    <div class="bg-mask">
    <h3>まだ誰も知らない<br>未開の地へ</h3>
    <p class="right-content">私たちは、<br>新しい挑戦をする人を応援します。</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 jumbotron business-info">
    <div class="container-fluid">
      <h3 class="center"><i class="fas fa-business-time"></i>&ensp;事業案内</h3>
      <p class="center">Russelのサービスをご紹介します</p>
    </div>
    <div class="row">
    <div class="col-md-4 business-info-item">
      <h2>セールス支援</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p class="center"><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
    </div>
    <div class="col-md-4 business-info-item">
      <h2>イベント運営</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p class="center"><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
    </div>
    <div class="col-md-4 business-info-item">
      <h2>WEB事業</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p class="center"><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 jumbotron ">
    <div class="container-fluid">
      <h3 class="center"><i class="fas fa-handshake"></i>&ensp;採用情報</h3>
      <p>新しい道を目指す、仲間を探しています</p>
      <p class="center"><a class="btn btn-primary btn-md" href="#" role="button">詳しく見る &raquo;</a></p>
    </div>
  </div>
</div>