<div class="row">
  <div class="col-md-12 center jumbotron jumbotron-css" id="top-image">
    <h3>すきなコメントを挿入</h3>
    <p class="right-content">この位置に、<br>文章を挿入</p>
  </div>
</div>
<div class="row hero-contents">
  <div class="col-lg-4 offset-lg-1 hero-contents-item">
    <h2 class="en">～RUSSELについて～</h2>
    <p>私たちは～～</p>
  </div>
  <div class="col-lg-7 main-contents">
    <h1>事業案内</h1>
    <div class="contents-item">
      <h2>事業名1</h2>
      <p>詳細はコチラ</p>
    </div>
    <div class="contents-item">
      <h2>事業名1</h2>
      <p>詳細はコチラ</p>
    </div>
    <div class="contents-item">
      <h2>事業名1</h2>
      <p>詳細はコチラ</p>
    </div>
  </div>
</div>