<div class="row">
  <div class="col-md-12 center jumbotron jumbotron-css" id="top-image">
    <div class="bg-mask">
      <h3>
        まだ誰も知らない<br>未開の地へ
      </h3>
      <p class="right-content">
        RUSSELは、<br>新しい挑戦をする人を応援します。
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 jumbotron business-info">
      <div class="container-fluid">
        <h3 class="center business-info-title">事業案内</h3>
      </div>
      <div class="row center">
        <div class="col-md-4 offset-md-4">
          <%= link_to business_path, class:"btn btn-primary", method: :get do %>
            詳しく見る<i class="fas fa-arrow-circle-right"></i>
          <% end %>
        </div>
      </div>
  </div>
</div>

<div class="row center">
  <div class="col-md-12 jumbotron recruit-info">
    <div class="container-fluid">
      <h3 class="center">採用情報</h3>
        <div class="col-md-4 offset-md-4">
          <%= link_to recruit_path, class:"btn btn-primary", method: :get do %>
            詳しく見る<i class="fas fa-arrow-circle-right"></i>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-md-12 jumbotron philosophy-info">
    <div class="container-fluid">
      <h3 class="center">企業理念</h3>
       <div class="col-md-4 offset-md-4">
        <%= link_to philosophy_path, class:"btn btn-primary", method: :get do %>
          詳しく見る<i class="fas fa-arrow-circle-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-md-12 jumbotron company-info">
    <div class="container-fluid">
      <h3 class="center">会社情報</h3>
        <div class="col-md-4 offset-md-4">
          <%= link_to company_path, class:"btn btn-primary", method: :get do %>
            詳しく見る<i class="fas fa-arrow-circle-right"></i>
          <% end %>
        </div>
    </div>
  </div>
</div>