  <div class="row">
  <div class="col-md-12 center jumbotron philosophy-page link-page-title">
      <h3>経営理念</h3>
    </div>
  </div>

  <div class="container link-page-item">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 philosophy-title">
        <h2>人の可能性を信じる</h2>
        <p>今後、世の中はAIによって便利な世界になり、情報が簡単に手に入り、人手が不要になるといわれている時代に突入します。ですが我々は、人間にしかできない、相手の気持ちを読み取ったり、感性などから生まれる新しい選択肢を生み出すことで、社会の可能性を広げ、貢献できると考えております。
        </p>
      </div>
      <div class="col-md-4 philosophy-title">
        <h2>個性の尊重</h2>
        <p>時に組織に属しているとその人の能力や個性が埋もれてしまっている場合があります。しかし、我々は一人一人の個性を尊重し、その人が最大限パフォーマンスを引き出せる環境を整える事で能力を活かし、生産性を上げる事が出来ると考えております。個性とはその人のパラメーターで、捉え方や考え方を変える事で人を輝かせ、その集団が組織を強くし、社会貢献につながると考えております。
        </p>
      </div>
      <div class="col-md-4 philosophy-title">
        <h2>唯一無二を目指す</h2>
        <p>世の中には似たような商品やサービスが沢山あります。その中から我々が選ばれ、仕事をするという事は大変光栄な事であり、ご縁を感じます。我々は選んで頂いた方のご縁を大切にし、我々にしか出来ないきめ細やかな応対を心がけます。人と人との繋がりを大切にし、選んだ事を後悔させません。
        </p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
