  <div class="row">
  <div class="col-md-12 center jumbotron philosophy-page link-page-title">
      <h3>経営理念</h3>
    </div>
  </div>

  <div class="container link-page-item">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12 philosophy-title">
        <h2>人の可能性を信じる</h2>
        <p>今後、世の中はAIによって便利な世界になり、情報が簡単に手に入ったり、人手が不要になるといわれている時代に突入します。ですが我々は、人間にしかできない、相手の気持ちを読み取ったり、感性などから生まれる新しい選択肢を生み出すことで、社会の可能性を広げ、貢献できると考えております。
        </p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
