  <div class="row">
  <div class="col-md-12 center jumbotron philosophy-page link-page-title">
      <h3>企業理念</h3>
    </div>
  </div>

  <div class="container link-page-item">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>誰も歩いた事の無い道を</h2>
        <p>ここに経営者のメッセージが入る予定</p>
      </div>
      <div class="col-md-4">
        <h2>サンプル</h2>
        <p>サンプル</p>
      </div>
      <div class="col-md-4">
        <h2>サンプル</h2>
        <p>サンプル</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
