  <div class="row">
  <div class="col-md-12 center jumbotron recruit-page link-page-title">
      <h3>採用情報</h3>
    </div>
  </div>

  <div class="container link-page-item">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>新しい道を…</h2>
        <p>誰かが決めた道ほど楽な物はありません、しかし、長く続けていると退屈なものです。わが社では、あなたが目指す道、目標、夢を応援します。道の途中でのわが社への寄り道でもかまいません。人生を一緒に楽しくしましょう</p>
      </div>
      <div class="col-md-4">
        <h2>自分の価値を…</h2>
        <p>将来的に、現代の終身雇用があるとは限りません。その時代を生き残るためには、自分自身に「価値」が必要です。この価値とは、会社内での価値ではなく、世の中から客観的にあなたを見た時の価値です。行動力が誰よりもある、誰よりも器用である、誰よりも生み出す力がある、誰よりも先を見通す目がある。あなたのオンリーワンを増やし、掛け算する事で大きな力になります。私たちは努力するあなたへの支援を惜しみません。</p>
      </div>
      <div class="col-md-4">
        <h2>最後に…</h2>
        <p>仕事とは、長い人生の中で半分以上の時間を過ごすあなただけの環境です。その環境が素晴らしい物であれば、どんなに苦しい仕事でも楽しく出来るでしょう。逆に環境が悪ければ、どんなに楽な仕事でも苦痛に感じるはずです。望む環境は与えられるものではなく、自分でつかみ取るものであると私たちは考えております。自由で、楽しい、成長出来る環境を一緒に作っていきましょう。</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
