<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>株式会社RUSSEL</title>
	<link rel="stylesheet" href="stylesheet.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <header>
  	<div class="container">
      <div class="header-left">
        <img class="logo" src="https://fierce-springs-28874.herokuapp.com/assets/logo-3478271c0c94bc395e3b5bd9fc0b03db89016474b875856922a13157237c51ed.png">
      </div>  
  		<div class="header-right">
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">ホーム</button>
    <button class="dropdown-item" type="button">事業案内</button>
    <button class="dropdown-item" type="button">採用情報</button>
    <button class="dropdown-item" type="button">企業理念</button>
    <button class="dropdown-item" type="button">会社情報</button>
  </div>
</div>  
      </div>
  	</div>
  </header>
  <div class="top-wrapper">
  	<div class="container">
  		<h1>未定</h1>
  	</div>	
  </div>
  <div class="business-wrapper">
    <div class="container">
     
     
      <h1>会社概要</h1>

      <table class="  table table-bordered table-dark　table-responsive">
  <thead>
    <tr>
      <th scope="row" class="col-md-4">社名</th>
      <td class="col-md-8">株式会社RUSSEL</td>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">代表取締役</th>
      <td>内田　啓文</td>
     
    </tr>
    <tr>
      <th scope="row">本所在地</th>
      <td>〒252-0203<br>神奈川県相模原市中央区東淵野辺三丁目１１番５号ヴェルドミール３０７</td>
      
    </tr>
    <tr>
      <th scope="row">資本金</th>
      <td>１０万円</td>
    </tr>
    <tr>
      <th scope="row">設立</th>
      <td>令和２年２月２７日</td>
    </tr>
    <tr>
      <th scope="row">役員</th>
      <td>内田　啓文</td>
    </tr>
    <tr>
      <th scope="row">取引銀行</th>
      <td>ゆうちょ銀行</td>
    </tr>
    
  </tbody>
  </table>
      
    </div>
  	
  </div>	
  
  <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
       <img src="https://fierce-springs-28874.herokuapp.com/assets/logo-3478271c0c94bc395e3b5bd9fc0b03db89016474b875856922a13157237c51ed.png" alt="Logo">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="menu">
          <span>Menu</span>    
          <li>
            <a href="#">事業案内</a>
          </li>
          <li>
            <a href="#">採用情報</a>
          </li>
          <li>
            <a href="#">企業理念</a>
          </li>
          <li>
            <a href="#">会社情報</a>
          </li>
        </ul>
      </div>
   
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="address">
          <span>Contact</span>       
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone</a>
          </li>
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adress</a>
          </li> 
          <li>
            <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email</a>
          </li> 
        </ul>
      </div>
    </div> 
  </div>
</footer>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>