@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


body {
  padding-top:60px;
  font-family: 'Noto Sans JP', sans-serif;
}

section{
  overflow: auto;
}

textarea{
  resize:verticcal;
}

.center{
  text-align:center;
}

.center h1{
    margin-bottom: 30px;
  }

h1{
  font-size:3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
}

h2{
  font-size: 1.2em;
  letter-spacing:-1px;
  margin-bottom:30px;
  text-align:center;
  font-weight:normal;
}

p{
  font-size: 0.8em;
  line-height: 1.7em;
}
.jumbotron p{
  font-size:0.9rem;
}
/*  ヘッダー */

#logo{
  float:left;
  margin-left:15px;
  margin-right:10px;
  font-size: 20px;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:-1px;
  font-weight:bold;
  img{
    height:40px;
  }
}

#logo:hover{
  color:#fff;
  text-decoration:none;
}

#top-image{
  background-image: image-url("top.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  z-index:-1;
}
.bg-mask{
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.3);
  z-index:-1;
  position:absolute;
  top:0;
  left:0;
}
/* index */

.jumbotron-css{
  height:400px;
  padding-top:30px;
  background-color:white;
  color:white;
  border-radius:0rem;
}

.jumbotron-css h3{
  font-size: 2.0rem;
  font-weight:bold;
  padding-top:50px;
}

.jumbotron p{
  margin-top:40px;
}


.jumbotron-css h5{
  margin-top:20px;
}

.en{
  font-family: 'Caveat', cursive;
  text-transform: uppercase;
  font-size:40px;
  font-weight:bold;
}

.business-info{
  background-image: image-url("landing.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  color:white;
  padding-top:30px;
  padding-bottom:20px;
}

.business-info-title{
  padding-top:20px;
  font-weight:bold;
}

.business-info-item{
  background: rgba(0, 0, 0, 0.3);
  margin-top:30px;
  margin-bottom:20px;
  padding:10px;
  border-radius:1rem;
}


/* link-page*/
.link-page-title{
  background-image: image-url("landing.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  color:white;
  padding-top:30px;
  padding-bottom:20px;
  height:250px;
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
    font-weight:bold;
  }
}



/* header */
.navbar-dark .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  position: relative;
}
.navbar-dark .navbar-toggler-icon {
  background-image:none; /* この行で背景画像を無効化 */
  background-color: #fff;
  width: 30px;
  height: 2px;
  display: block;
  position: absolute;
  transition: ease .5s;
}

/* 3本のバーそれぞれの座標を設定 */
.navbar-toggler-icon:nth-of-type(1) {top:7px;}
.navbar-toggler-icon:nth-of-type(2) {top:14px;}
.navbar-toggler-icon:nth-of-type(3) {top:21px;}

/* メニューが開いている時の　3本のバーそれぞれの座標および角度を設定 */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(1) {
top:13px;
transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(2) {
opacity: 0;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(3) {
top:13px;
transform: rotate(-45deg);
}



/* footer */


.search-text{
	margin-top:50px;
	background-color: #272d33;
	padding-top:60px;
	padding-bottom:60px;
}
	
.search-text .input-search{
	height:45px;
	width:40%;
	padding-left:20px;
    color:#333;
} 

.search-text .btn-search{
    background: #da3e44;
    font-family: 'Sawarabi Gothic', sans-serif;
    border:none;
	color:#FFF;
	height: 45px;
    width: 80px;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

footer{
     background-color: #33383c;
     padding:30px 0px;
}	       

.footer-logo {
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: white;
    margin-right: 10px;
    font-size:18px;
}

