<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <a class=" footer-logo navbar-brand", id="logo" href="/"><%= image_tag 'logo2-white.png' %></a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="menu">
          <span>Menu</span>    
          <li>
            <a href="/business">事業案内</a>
          </li>
          <li>
            <a href="/recruit">採用情報</a>
          </li>
          <li>
            <a href="philosophy">経営理念</a>
          </li>
          <li>
            <a href="company">会社情報</a>
          </li>
        </ul>
      </div>
   
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="address">
          <span>Contact</span>      
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone:080-5505-6559</a>
          </li>
          <li>
            <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email:info@russel.jp</a>
          </li> 
        </ul>
      </div>
    </div> 
  </div>
</footer>