<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <span class="logo"><%= image_tag 'logo.png' %></span>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="menu">
          <span>Menu</span>    
          <li>
            <a href="#">事業案内</a>
          </li>
          <li>
            <a href="#">採用情報</a>
          </li>
          <li>
            <a href="#">企業理念</a>
          </li>
          <li>
            <a href="#">会社情報</a>
          </li>
        </ul>
      </div>
   
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="address">
          <span>Contact</span>      
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone</a>
          </li>
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adress</a>
          </li> 
          <li>
            <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email</a>
          </li> 
        </ul>
      </div>
    </div> 
  </div>
</footer>